
/*導覽頁*/
*{box-sizing:border-box;}
.jumbotron{
  margin:0px 0px 60px 0px;
  height:750px;text-align:center;
  background-image:url('img/head.jpg');
 background-size:cover;}
.farm-memu{
  width:80%;
  border-radius:5px;
  background-color:#55626f;
  margin:auto;position:fixed;left:150px;top:10px;z-index:100;
  }
.farm-memu>ul>li{
  padding:10px;margin:5px 0px 0px 15px;
  display:inline-block;
  text-align:center;
  font-size:14px;}
.farm-memu>ul>li>a{
  display:block;
  text-decoration:none;color:#ffffff;}
.farm-memu>ul>li>a:hover{color:#b5765e;}
.farm-memu span{display:block;color:#83bb59;margin:0px 10px;}
/*導覽頁結束*/
/* 以下開始內容頁css #farm-contect*/
#farm-contect{padding:100px;}
/* 第一段#intruduce開始 */
#intruduce{
 height: 612px;
 padding:80px 0;margin:90px 0;
 }
#intruduce .img-circle{position:relative;left:160px;top:50px;width:250px;height:250px}
#intruduce h2{text-align:center;}
#intruduce p{text-align:center;font-size:16px;}
#intruduce .col-md-6{margin:0px -20px;}
/* 第一段#intruduce結束 */
/* 第二段#farm-food */
#farm-food{
  height: 612px;
  padding:80px 0;margin:90px 0;}
#farm-food h2{text-align:center;}
#farm-food h3{text-align:center;}
#farm-food p{text-align:center;font-size:16px;}
#farm-food .thumbnail{width:200px;height:300px;position:relative;right:45px;top:120px;}
/* 第二段#farm-food結束 */
/* 第三段#farm-party開始 */
.img-rounded{width:400px;height:400px;margin:20px 10px 10px 20px;}
#farm-party{
  height: 612px;
  padding:80px 0;margin:90px 0;}
#farm-party h2{text-align:center;}
#farm-party h3{text-align:center;}
#farm-party p{text-align:center;font-size:16px;}
.info-memo img{width:130px;height:100px;margin:15px 0px;}
.info-memo{padding:25px;}
/* 第三段#farm-party結束 */
/* 第四段#farm-parterner開始 */
#farm-parterner{
  height: 612px;
  padding:80px 0;margin:90px 0;}
#farm-parterner h3{text-align:center;}
#farm-parterner .img-circle{position:relative;left:15px;width:150px;height:150px;margin:0px 10px 0px -50px;}
#farm-parterner h2{text-align:center;}
#farm-parterner span{margin:0px 10px;color:#B40052;}
.parterner-part{margin:20px;position: relative;left:20px;}
/* 第四段#farm-parterner結束 */
/* 第五段#farm-info開始      */
#farm-info{
  height: 612px;
  padding:80px 0;margin:90px 0;}
.info-1{border-radius:88px;height:570px;background-color:#FFF4A6;color:#55626f;}
.info-1 h3{text-align:center;color:#1F2124}
.info-1 li{text-align;font-size:15px;}
.info-1 span{margin:5px 20px 5px 0px;}
.info-1 big{color:#1F2124;}
/* 第五段#farm-info結束      */ 
/* 第六段#farm-free開始 */
#farm-free{
  height: 612px;
  padding:100px 0;margin:90px 0;}
#farm-free h2{text-align:center;}
#farm-free p{font-size:18px;text-align:center;}
/* 第六段#farm-free結束 */
/* 第七段#farm-store開始 */
#farm-store{
  height: 612px;
  padding:80px 0;margin:90px 0;}
#farm-store h2{text-align:center;}
#farm-store p{text-align:center;font-size:18px;}
#farm-store img{width:70%;margin: 50px 150px;}
.store-photo{width:70%;margin: auto;}
/* 第七段#farm-store結束 */
/* 腳開始 */
.footer{color:#D1FFEA;background-color:#2d472f;border-radius:5px;text-align:center;}
.footer a{text-decoration: none;}
/* 腳結束 */